.banner {
  position: absolute;
  width:100vw;
  height:auto;
  background-position: left top;
  background-repeat: no-repeat;
  p {
    position: absolute;
    width: 100vw;
    padding-top: 5vh;
    left: 10vw;
    top: 90px;
    font-size: 36px;
    font-weight: bold;
    color:#4c4c4c;
  }
  img{
    overflow: hidden;
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: 100% 100% 0%;
  }
}
